body {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background: #f2d649;
}

header {
  position: relative;
  display: block;
  height: 40%;
}
.logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}
.logo span {
  color: #fff;
  font-family: 'Jua', sans-serif;
  font-size: 72px;
  font-weight: 500;
  display: block;
}
.cate {
  position: relative;
  display: block;
  width: 100%;
  height: 60%;
  /* background: #fff; */
}
.cate_inner {
  height: 100%;
  display: block;
  padding: 20px;
  box-sizing: border-box;
}
.cate_box {
  height: 100%;
  display: block;
}
.cate_box>div {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.1);
}
.search {
  display: block;
  height: 40%;
  margin-bottom: 15px;
}
.location, .alarm{
  display: inline-block;
  width: 48%;
  height : 53%;
}
.alarm {
  float: right;
}

.serach_img, .location_img, .alarm_img {
  margin: 0 auto;
  width: 100%;
}
.search_img img, .location_img img, .alarm_img img {
  margin: 0 auto;
  display: block;
  width: 75px;
}
.search_inner span, .location_inner span, .alarm_inner span {
  display: block;
  text-align: center;
  font-family: 'Jua', sans-serif;
  margin-top: 12px;
  font-size: 21px;
  font-weight: 500;
  color: #34495E;
}
.search>a, .location>a, .alarm>a {
  position: relative;
  display: block;
  height: 100%;
}
.search_inner, .location_inner, .alarm_inner {
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  /* padding-top: 10px; */
}