body {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background: #f2d649;
}

/* Trigger Button */
input[id=trigger]{  
  display: none;
}

label[for=trigger]{
  width: 35px;
  height: 38px;
  display: block; 
  position: absolute;
  cursor: pointer;
  /* right: 20px; */
  right: 0;
  top: 20px;
  transition: 0.5s;
  z-index: 300;
  margin-right: 10px;
}

label[for=trigger] span{
  position: absolute;
  height: 2px;
  background-color: #000;
  width: 100%;
  left: 0;
  transition: 0.5s;
  display: none;
}

label[for=trigger] div {
  position: relative;
}

label[for=trigger] div img {
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  cursor: pointer;
  transition: 0.3s;
  z-index: 201;
  right: 0;
}

label[for=trigger] span:nth-child(1){
  top: 0;
  display: 0;
}

label[for=trigger] span:nth-child(2){
  top: 50%;
  display: none;
}

label[for=trigger] span:nth-child(3){
  top: 100%;
  display: none;
}

input[id=trigger]:checked + label[for=trigger] span:nth-child(1){
  top: 50%; 
  transform: rotate(45deg);
  display: block;
}
input[id=trigger]:checked + label[for=trigger] span:nth-child(2){
  opacity: 0;
  display: block;
}
input[id=trigger]:checked + label[for=trigger] span:nth-child(3){
  top: 50%;
  transform: rotate(-45deg);
  display: block;
}
input[id=trigger]:checked + label[for=trigger] div img {
  display: none;
}

input[id=trigger]:checked ~ .sidebar {
  right: 0;
}

input[id=trigger]:checked + label[for=trigger]{
  /* right: 300px; */
  right: 0;
}


/* sidebar */
.sidebar{
  background-color: #f5f5f5;
  width: 300px;
  height: 100vh;
  position: fixed;
  right: -300px;
  transition: 0.5s;
  z-index: 200;
  box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.15);
  padding-top: 60px;
  box-sizing: border-box;
}

.sidebar .user {
  position: relative;
  display: block;
  width: 100%;
  padding: 15px 30px;
  box-sizing: border-box;
}
.user_inner {
  height: 50px;
  display: block;
}
.sidebar .user_img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 7px;
}
.user_img img {
  width: 50px;
  height: 50px;
}
.sidebar .user span{
  font-size: 16px;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 8px;
}
.sidebar .user span strong {
  font-size: 21px;
}

.sidebar .fav, .sidebar .med_count, .sidebar .setting {
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0 0px 7px 2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin: 12px 15px;
}
.sidebar .fav a,
.sidebar .setting a {
  color: #000;
  position: relative;
  display: block;
  padding: 15px 25px;
  line-height: 20px;
}
.fav_inner,
.setting_inner {
  line-height: 20px;
}
.fav a div,
.setting a div,
.logout div{
  display: inline-block;
  vertical-align: middle;
}
.fav a div img,
.setting a div img,
.logout div img{
  height: 20px;
}
.fav a span,
.setting a span,
.logout span {
  margin-left: 15px;
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}
.sidebar .med_count {
  padding: 15px 30px;
}
.med_count_inner {
  text-align: center;
}
.med_count_inner strong {
  display: block;
  margin-top: 10px;
  font-size: 36px;
  color: #f2d649;
}

.logout {
  position: absolute;
  display: block;
  bottom: 12px;
  right: 20px;
  cursor: pointer;
}
.logout_inner {
  line-height: 20px;
}
.logout_img img {
  opacity: 0.75;
}
.logout span {
  margin-left: 2px;
  font-size: 16px;
  color: #767676;
  margin-bottom: 3px;
}


header {
  position: relative;
  display: block;
  height: 40%;
}
.logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}
.logo span {
  color: #fff;
  font-family: 'Jua', sans-serif;
  font-size: 72px;
  font-weight: 500;
  display: block;
}
.cate {
  position: relative;
  display: block;
  width: 100%;
  height: 60%;
  /* background: #fff; */
}
.cate_inner {
  height: 100%;
  display: block;
  padding: 20px;
  box-sizing: border-box;
}
.cate_box {
  height: 100%;
  display: block;
}
.cate_box>div {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.1);
}
.search {
  display: block;
  height: 40%;
  margin-bottom: 15px;
}
/* .search a {
  text-decoration: none;
} */
.location, .alarm{
  display: inline-block;
  width: 48%;
  height : 53%;
}
.alarm {
  float: right;
}

.serach_img, .location_img, .alarm_img {
  margin: 0 auto;
  width: 100%;
}
.search_img img, .location_img img, .alarm_img img {
  margin: 0 auto;
  display: block;
  width: 75px;
}
.search_inner span, .location_inner span, .alarm_inner span {
  display: block;
  text-align: center;
  font-family: 'Jua', sans-serif;
  margin-top: 12px;
  font-size: 21px;
  font-weight: 500;
  color: #34495E;
}
.search>a, .location>a, .alarm>a {
  position: relative;
  display: block;
  height: 100%;
}
.search_inner, .location_inner, .alarm_inner {
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  /* padding-top: 10px; */
}