body {
  width: 100%;
  height: 100vh;
}
header {
  background: #F2D649;
  color: #fff;
  width: 100%;
  display: block;
  height: 60px;
  position: fixed;
  z-index: 100;
}

.search {
  position: relative;
  /* width: 100%; */
  padding: 6px;
}
.search_inner {
  display: table;
  width: 100%;
}
.search_box {
  display: table-cell;
  width: 100%;
  background: #fff ;
  border-radius: 25px;
}
.search_box_inner {
  display: table;
  width: 100%;
}
.search_input, .search_btn{
  display: table-cell;
  width: 100%;
  vertical-align: top;
}
input {
  width: 100%;
  height: 44px;
  border: none;
  box-sizing: border-box;
  padding: 0 12px;
  font-size: 16px;
  border-radius: 25px 0 0 25px;
}
button {
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 44px;
  width: 44px;
  line-height: 44px;
  border: none;
  background: transparent;
  vertical-align: top;
}
button span {
  position: absolute;
  background-image: url(../img/search.png);
  width: 32px;
  height: 32px;
  top: 6px;
  right: 6px;
  margin: auto;
}

.content {
  background: #fff;
  top: 60px;
  position: relative;
}
.content_list {
  overflow: hidden;
  background: #eee;
  padding-top: 6px;
}
.medi_list {
  overflow: hidden;
  padding: 6px;
}
.medi {
  margin-bottom: 5px;
  border: 1px solid #e0e0e0;
  background: #fff;
  border-radius: 5px;
}
.medi>a {
  display: block;
  position: relative;
  padding: 15px;
  color: #000;
}
.medi_img {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 100px;
  display: block;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
}
.medi_img img{
  width: 130px;
  height: auto;
  vertical-align: middle;
}
.medi_info {
  overflow: hidden;
  padding-left: 15px;
}
.medi_name {
  line-height: 1em;
}
.medi_name span {
  font-weight: 500;
  font-size: 17px;
  line-height: 1em;
}
.medi_desc {
  margin-top: 6px;
}
.medi_desc span {
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align-last: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5em;
  color: #666;
  text-overflow: ellipsis;
  letter-spacing: -.25px;
}
.fav {
  cursor: pointer;
}
.fav::before {
  content : '\f006';
  font-family: fontawesome;
  color: #bbb;
  position: absolute;
  font-size: 20px;
  right: 10px;
  top: 10px;
}
.fav.active::before{
  content:'\f005';
  font-family: fontawesome;
  color: #F2D649;
}

.go_top::before {
  content: '\f062';
  font-family: fontawesome;
}
.go_top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%; 
  color: #fff; 
  text-align: center; 
  width: 45px; 
  height: 45px; 
  font-size: 30px;
  margin: 0 auto;
  background-color:#F2D649;
  z-index: 999;
  display: none;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  }
  
